<!--<div class="data-insert-container">
  <h2>Data Insert</h2>

  <form (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="techId">Project TechID:</label>
      <input type="text" id="techId" name="techId" class="form-control"  required>
    </div>
  
    <div class="form-group">
      <label for="projectTitle">Project Title:</label>
      <input type="text" id="projectTitle" name="projectTitle" class="form-control"  required>
    </div>
  
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea id="description" name="description" class="form-control"  required></textarea>
    </div>
  
    <div class="form-group">
      <label for="nasaProgram">NASA Program:</label>
      <input type="text" id="nasaProgram" name="nasaProgram" class="form-control"  required>
    </div>
  
    <div class="form-group">
      <label for="primaryTaxonomy">Primary Taxonomy:</label>
      <input type="text" id="primaryTaxonomy" name="primaryTaxonomy" class="form-control" required>
    </div>
  
    <div class="form-group">
      <label for="projectLastDate">Project Last Date:</label>
      <input type="date" id="projectLastDate" name="projectLastDate" class="form-control"  required>
    </div>
  
    <div class="form-group">
      <label for="projectURL">Project URL:</label>
      <input type="text" id="projectURL" name="projectURL" class="form-control"  required>
    </div>
  
    <div class="form-group">
      <label for="projectAPIURL">Project API URL:</label>
      <input type="text" id="projectAPIURL" name="projectAPIURL" class="form-control" required>
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
-->
